div.zoomPanning img {
	top : 0;
	left : 0;
	position : absolute; 
}

.zoom-trigger {
	position:relative;
    overflow:hidden;
	cursor: url(../img/zoom-in-1.svg),auto;
    cursor: image-set(url(../img/zoom-in-1.svg) 1x, url(../img/zoom-in-1-30.svg) 2x),auto;
    cursor: -webkit-image-set(url(../img/zoom-in-1.svg) 1x, url(/../img/zoom-in-1-30.svg) 2x),auto;
    display: block;
}

.zoomed div.zoomPanning {
	position : absolute;
    left : 0;
    top : 0;
    width:100%;
    height:100%;
    opacity : 1;
    overflow : hidden;
	display:block;
	cursor: url(../img/zoom-out-1.svg),auto;
    cursor: image-set(url(/../img/zoom-out-1.svg) 1x, url(../img/zoom-out-1-30.svg) 2x),auto;
    cursor: -webkit-image-set(url(../img/zoom-out-1.svg) 1x, url(../img/zoom-out-1-30.svg) 2x),auto;
}
